<div>
  <h1>Your Profile (no data)</h1>
  <p>Name: {{user.name}}</p>
  <p>Mail: {{user.email}}</p>
  {{#if user.age}}
    <p>Age: {{user.age}}</p>
  {{/if}}
  <p>Rol: {{user.role}}</p>
  <a href="/api/sessions/logout"><button>Exit</button></a>
  <a href="/products"><button>Products</button></a>
</div>